force-app/main/default/flows/New_Approval_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Quick Action flow: opens New Approval form pre-filled with record type and purchase price from the parent Opportunity.</description>
    <interviewLabel>New Approval from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Approval from Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <assignments>
        <name>Assign_Equipment_RT</name>
        <label>Assign Equipment RT</label>
        <locationX>44</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Equipment_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Approval_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WC_RT</name>
        <label>Assign Working Capital RT</label>
        <locationX>308</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_WC_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Approval_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Opportunity</name>
        <label>Has Opportunity?</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>New_Approval_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Opportunity</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Opp_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opp_Type</name>
        <label>Opportunity Type</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>New_Approval_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other / No Match</defaultConnectorLabel>
        <rules>
            <name>Is_Equipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Equipment_RT</targetReference>
            </connector>
            <label>Equipment</label>
        </rules>
        <rules>
            <name>Is_Working_Capital</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working Capital</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WC_RT</targetReference>
            </connector>
            <label>Working Capital</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceContractType</name>
        <dataType>Picklist</dataType>
        <displayField>label</displayField>
        <picklistField>Contract_Type__c</picklistField>
        <picklistObject>Approval__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicePaymentFrequency</name>
        <dataType>Picklist</dataType>
        <displayField>label</displayField>
        <picklistField>Payment_Frequency__c</picklistField>
        <picklistObject>Approval__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceStatus</name>
        <dataType>Picklist</dataType>
        <displayField>label</displayField>
        <picklistField>Status__c</picklistField>
        <picklistObject>Approval__c</picklistObject>
    </dynamicChoiceSets>
    <recordCreates>
        <name>Create_Approval</name>
        <label>Create Approval</label>
        <locationX>176</locationX>
        <locationY>1238</locationY>
        <inputAssignments>
            <field>Broker_Fee_Revenue__c</field>
            <value>
                <elementReference>inp_BrokerFeeRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <elementReference>inp_ContractType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doc_Fee__c</field>
            <value>
                <elementReference>inp_DocFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Down_Payment__c</field>
            <value>
                <elementReference>inp_DownPayment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration__c</field>
            <value>
                <elementReference>inp_Expiration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Funded_Amount__c</field>
            <value>
                <elementReference>inp_NetFundedAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>inp_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Frequency__c</field>
            <value>
                <elementReference>inp_PaymentFrequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Periodic_Payment__c</field>
            <value>
                <elementReference>inp_PeriodicPayment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Points__c</field>
            <value>
                <elementReference>inp_Points</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Price__c</field>
            <value>
                <elementReference>inp_PurchasePrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>inp_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Length__c</field>
            <value>
                <elementReference>inp_TermLength</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Fee__c</field>
            <value>
                <elementReference>inp_TitleFee</elementReference>
            </value>
        </inputAssignments>
        <object>Approval__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Equipment_RT</name>
        <label>Get Equipment Record Type</label>
        <locationX>44</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Equipment_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SObjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WC_RT</name>
        <label>Get Working Capital Record Type</label>
        <locationX>308</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_WC_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SObjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working_Capital</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Approval_Screen</name>
        <label>New Approval</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Approval</targetReference>
        </connector>
        <fields>
            <name>inp_PurchasePrice</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity.Total_Equipment_Cost__c</elementReference>
            </defaultValue>
            <fieldText>Purchase Price</fieldText>
            <fieldType>InputField</fieldType>
            <scale>2</scale>
        </fields>
        <fields>
            <name>inp_ContractType</name>
            <choiceReferences>choiceContractType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inp_NetFundedAmount</name>
            <dataType>Currency</dataType>
            <fieldText>Net Funded Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>inp_DownPayment</name>
            <dataType>Currency</dataType>
            <fieldText>Down Payment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>inp_TermLength</name>
            <dataType>Number</dataType>
            <fieldText>Term Length (months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>inp_PeriodicPayment</name>
            <dataType>Currency</dataType>
            <fieldText>Periodic Payment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>inp_PaymentFrequency</name>
            <choiceReferences>choicePaymentFrequency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inp_Points</name>
            <dataType>Number</dataType>
            <fieldText>Points (%)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>inp_DocFee</name>
            <dataType>Currency</dataType>
            <fieldText>Doc Fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>inp_TitleFee</name>
            <dataType>Currency</dataType>
            <fieldText>Title Fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>inp_BrokerFeeRevenue</name>
            <dataType>Currency</dataType>
            <fieldText>Broker Fee Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>inp_Status</name>
            <choiceReferences>choiceStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inp_Expiration</name>
            <dataType>Date</dataType>
            <fieldText>Expiration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inp_Notes</name>
            <dataType>String</dataType>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
