force-app/main/default/flows/Set_Approval_Defaults_on_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Equipment_RT</name>
        <label>Assign Equipment RT</label>
        <locationX>44</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Purchase_Price</name>
        <label>Assign Purchase Price</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Record.Purchase_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOppEquipmentCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Opp_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WC_RT</name>
        <label>Assign Working Capital RT</label>
        <locationX>308</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Opp_Type</name>
        <label>Opportunity Type</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Other / No Match</defaultConnectorLabel>
        <rules>
            <name>Is_Equipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Equipment_RT</targetReference>
            </connector>
            <label>Equipment</label>
        </rules>
        <rules>
            <name>Is_Working_Capital</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working Capital</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WC_RT</targetReference>
            </connector>
            <label>Working Capital</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Opportunity</name>
        <label>Has Opportunity?</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No Opportunity</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOppType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Purchase_Price</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>On new Approval creation, defaults RecordType from parent Opportunity Type and Purchase_Price from Opportunity total equipment cost.</description>
    <interviewLabel>Set Approval Defaults on Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Approval Defaults on Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Equipment_RT</name>
        <label>Get Equipment Record Type</label>
        <locationX>44</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Equipment_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varOppEquipmentCost</assignToReference>
            <field>Total_Equipment_Cost__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOppType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WC_RT</name>
        <label>Get Working Capital Record Type</label>
        <locationX>308</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_WC_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working_Capital</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>176</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <object>Approval__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varOppEquipmentCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOppType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
